{{define "head"}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/css/style.css" rel="stylesheet">
<script src="https://unpkg.com/htmx.org@2.0.4"
  integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
{{if eq .Profile "DEV"}}
<script>
  let prevStartDate = null
  setInterval(async () => {
    const res = await fetch('/status')
    const status = await res.json()

    if (prevStartDate == null) {
      prevStartDate = status.StartDate
    } else if (prevStartDate != status.StartDate) {
      console.info('Change detected, reloading')
      window.location.reload()
    }
  }, 4000);
</script>
{{end}}
{{end}}